commerce-cloud/.settings/org.eclipse.core.resources.prefs
commerce-cloud/.settings/org.eclipse.m2e.core.prefs
commerce-cloud/.project
!commerce-cloud/commerce-service/service-generator-1.0.0.jar
**/docker/data